{% extends "base.html" %}

{% block content %}

<style>

/* ================= WHITE PAPER STYLE ================= */
body{
    background:white !important;
    color:black !important;
    font-family:Arial,sans-serif;
}

/* SHEET */
.sheet{
    width:100%;
    max-width:900px;
    margin:auto;
    background:white;
}

/* TITLES */
.title{
    text-align:center;
    font-weight:bold;
    font-size:18px;
}

.subtitle{
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}


/* DEFAULT INPUTS */
input{
    border:none;
    border-bottom:1px solid black;
    outline:none;
    background:transparent;
    font-size:10px;
    width:45px;
}


/* MAIN LAYOUT */
.container{
    display:flex;
    width:100%;
    align-items:flex-start;
}


/* TABLE SIDE */
.left{
    width:64%;
    overflow:hidden;
}


/* MONETARY SIDE */
.right{
    width:36%;
    border-left:1px solid black;
    padding-left:8px;
    font-size:9px;
    box-sizing:border-box;
}


/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
    font-size:8px;
}


th,
td{
    border:1px solid black;
    padding:1px;
    text-align:center;
}


/* DATE COLUMN */
th:first-child,
td:first-child{
    width:70px;
}


/* PREACHER COLUMN */
th:nth-child(7),
td:nth-child(7){

    width:120px;

}


/* NEW CONVERTS AND GUEST */
th:nth-child(8),
td:nth-child(8),
th:nth-child(9),
td:nth-child(9){

    width:65px;

}


/* SS/HF */
.ss-col{
    width:40px;
}

.hf-col{
    width:40px;
}


.ss-input,
.hf-input{

    width:30px;

}


/* MONEY INPUTS */
.right input{

    width:100px;

}


/* FOOTER */
.footer{

    margin-top:20px;
    text-align:center;
    font-weight:bold;
    font-size:11px;

}



/* PRINT FIX */
@media print{


    button{

        display:none !important;

    }


    body{

        zoom:0.85;

    }


    .container{

        display:flex !important;

        flex-direction:row !important;

    }


    .left{

        width:64% !important;

    }


    .right{

        width:36% !important;

        border-left:1px solid black !important;

    }


}


@page{

    size:A4;

    margin:15mm;

}

@media print {
    body {
        zoom: 1 !important;
    }

    .container {
        display: block !important;
    }

    input {
        font-size: 12px !important;
    }
}

</style>

<div class="sheet">

<!-- TITLE -->
<div class="title">LAGOS PROVINCE 70</div>
<div class="subtitle">MONTHLY GENERAL PROGRESS REPORT SHEET</div>

<!-- HEADER INPUTS -->
<div>
    NAME OF AREA: <input type="text" style="width:300px;">
</div>

<div>
    NAME OF PARISH: <input type="text" style="width:300px;">
</div>

<div>
    NAME OF ZONE: <input type="text" style="width:300px;">
</div>

<div>
    MONTH: <input type="text" style="width:200px;">
    YEAR: <input type="text" style="width:150px;">
</div>

<br>

<!-- MAIN SHEET -->
<div class="container">

<!-- LEFT SIDE -->
<div class="left">

<table>

<tr>
    <th>DATE</th>
    <th>DAYS</th>
    <th>MEN</th>
    <th>WOMEN</th>
    <th>CHILDREN</th>
    <th>TOTAL</th>
    <th>PREACHER</th>
    <th>NEW CONVERTS</th>
    <th>NEW GUEST</th>
    <th class="ss-col">SS</th>
    <th class="hf-col">HF</th>
</tr>

{% for i in range(20) %}
<tr>
    <td><input></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>

    <td><input class="ss-input"></td>
    <td><input class="hf-input"></td>

</tr>
{% endfor %}

</table>

</div>

<!-- RIGHT SIDE MONETARY -->
<div class="right">

<h3>MONETARY</h3>

<p>MINISTERS TITHES</p>
100% <input><br>
63% <input>

<p>MEMBERS TITHES</p>
100% <input><br>
50% <input>

<p>THANKSGIVING</p>
100% <input><br>
70% <input><br>
5% <input>

<p>SLO</p>
100% <input><br>
10% <input><br>
20% <input>

<p>CRM</p>
100% <input><br>
40% <input><br>
20% <input>

<p>GOSPEL FUND</p>
100% <input><br>
25% <input>

<p>FIRST FRUITS</p>
100% <input>

<p>CHILDREN OFFERING</p>
100% <input><br>
35% <input>

<p>SCHOOL OFFERING</p>
100% <input><br>
60% <input>

<p>HOUSE FELLOWSHIP</p>
<input>

<div class="money-item small">
OTHER<br>

<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"> :
<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"><br>

<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"> :
<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"><br>

<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"> :
<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"><br>

<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"> :
<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"><br>

<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"> :
<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"><br>

<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"> :
<input type="text" style="border:none; border-bottom:1px solid black; width:50px;"><br>

</div>

<p><b>TOTAL REMITTED</b></p>
<input>

</div>

</div>

<!-- FOOTER -->
<div class="footer">
    Name of Pastor in Charge of Parish & Signature:
    <input type="text" style="width:150px;">
</div>

<br>

<button type="button" onclick="safePrint()">
🖨 PRINT REPORT
</button>

<script>
function safePrint() {
    setTimeout(() => {
        try {
            window.focus();
            window.print();
        } catch (e) {
            alert("Print failed. Try using Chrome menu → Print");
        }
    }, 300);
}
</script>

</div>

{% endblock %}
